h1 {
    text-align: center;
    margin-top: 238px;
    font-size: 100px;
}
h1 span:nth-child(1) {
    color: #05a20b;}
h1 span:nth-child(2) {
    color: red;}
h1 span:nth-child(3) {
    color: yellow;}
h1 span:nth-child(4) {
    color: deepskyblue;}
.search-bar {
    width: 650px;
}